body {
  padding: 0% 5% 5% 5%;
}

#main-heading {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

#heading {
  text-align: center;
  color: orange;
}
#heading,
#goToHome {
  margin: 1% 0% 0% 0%;
}

#heading {
  padding: 0% 0% 0% 0.5%;
}

#goToHome {
  padding: 0.3% 0% 0% 0%;
}

#main-heading a {
  color: blueviolet;
}

#Ageratum {
  width: 70%;
  margin: 1% 0% 0% 0%;
}

.container {
  display: flex;
}

.innerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0% 0% 0% 5%;
}

.innerContainer p {
  text-align: justify;
}