body {
  padding: 0% 5% 5% 5%;
}

#main-heading {
  text-align: center;
  color: orange;
  padding: 0% 0% 1% 0%;
  border-bottom: 1px solid black;
}

.container {
  display: flex;
}

#fresh-origins {
  width: 70%;
}

.links {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0% 0% 0% 10%;
}

#abeliophyllum,
#ageratum {
  margin: 0% 0% 25% 0%;
}

#watering-flowers {
  margin: 0% 0% 0% 20%;
}

#guestBook {
  margin: 25% 0% 0% 25%;
}
