<!DOCTYPE html>
<html lang="en">

  <head>
    <title>GuestBook</title>
    <link rel="stylesheet" href="./css/GuestBook.css">
  </head>

  <body>
    <div id="main-heading">
      <h2 id="goToHome"><a href="./index.html">
          <<</a> </h2> <h1 id="heading">GuestBook</h1>
    </div>
    <div id="comment-container">
      <h1>Leave a Comment</h1>
      <form action="/registerComment" method="POST">
        <p>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name">
        </p>
        <p>
          <label for="Comment">Comment:</label>
          <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </p>
        <p>
          <input type="submit" value="Submit" id="submitComment">
        </p>
      </form>
    </div>
    <div id="comments-log">
      <table id="comments-table" border="1">
        <thead>
          <td class="date">DATETIME</td>
          <td class="name">NAME</td>
          <td class="comment">COMMENTS_LIST</td>
        </thead>
        <tbody>__COMMENTS__</tbody>
      </table>
    </div>
  </body>

</html>